.button-post {
  margin-top: 25px;
  text-align: right;
}

.post-subject {
  font-size: 30px;
}

.post-name, .post-category {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-style:italic;
}

.post-content {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}
